<form method="post" action="/evidence">
	User Name: <input type="text" name="user[name]" /><br />
	User Email: <input type="text" name="user[email]" /><br />

	<input type="checkbox" name="passed_course" value="8" />engl100<br />
	<input type="checkbox" name="passed_course" value="4" />math105<br />
	<input type="checkbox" name="passed_course" value="5" />math110<br />
	<input type="checkbox" name="passed_course" value="10" />math111<br />
	<input type="checkbox" name="passed_course" value="9" />math122<br />
	<input type="checkbox" name="passed_course" value="7" />cs100<br />
	<input type="checkbox" name="passed_course" value="0" />cs110<br />
	<input type="checkbox" name="passed_course" value="3" />cs115<br />
	<input type="checkbox" name="passed_course" value="1" />cs201<br />
	<input type="checkbox" name="passed_course" value="14" />cs203<br />
	<input type="checkbox" name="passed_course" value="2" />cs207<br />
	<input type="checkbox" name="passed_course" value="11" />cs261<br />
	<input type="checkbox" name="passed_course" value="6" />cs270<br />
	<input type="checkbox" name="passed_course" value="15" />cs271<br />
	<input type="checkbox" name="passed_course" value="12" />cs280<br />
	<input type="checkbox" name="passed_course" value="13" />cs301<br />

	<input type="submit" value="Submit" /><br />
</form>
<!--
CS 100	
CS 104	
CS 110	
CS 115
CS 201	
CS 203	
CS 207	
CS 210
CS 215	
CS 250	
CS 261	
CS 270
CS 271	
CS 280	
CS 290-295	
CS 301
CS 305	
CS 310	
CS 315	
CS 320
CS 325	
CS 327	
CS 330	
CS 335
CS 340	
CS 345	
CS 350	
CS 361
CS 372	
CS 373	
CS 375	
CS 390AO
CS 390-395	
CS 401	
CS 405	
CS 408
CS 409	
CS 410	
CS 411	
CS 412
CS 421	
CS 425	
CS 430	
CS 435
CS 461	
CS 473	
CS 474	
CS 475
CS 476	
CS 490-495	
CS 497	
CS 498
CS 499			
-->

